/* This CSS is used ONLY by the form defined in this same folder 
 * customize it as you see fit for your specific form
 */ 

h1 {
    font-size: 100%;
    font-weight: bold;
}

#form_container {
    border: 1px solid black;
    background-color: #ffffcc;
    width: 750px;
    padding: 10px;
    margin: 10px 0px 10px 0px;
}

#general {
    padding: 10px;
}

#history {
    padding: 10px;
    border-top: 1px solid black;
}

#bottom {
    padding: 10px;
    border-top: 1px solid black;
}

.formtext {
    font-family: courier;
    font-size: 90%;
}

.link {
    font-size: 80%;
}

.link_submit {
    font-size: 120%;
}

.title {
    font-size: 120%;
    font-weight: bold;
	text-transform: uppercase;
}

.bold { 
    font-size: 110%;
    font-weight: bold;
}
.bold_underline { 
    font-size: 110%;
    font-weight: bold;
	text-decoration: underline;
}
/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
#print_form_container {
    border: 1px solid black;
    background-color: #ffffcc;
    padding: 10px;
    margin: 10px 0px 10px 0px;
}

#print_general {
    padding: 10px;
    font-weight: bold;
}

#print_history {
    padding: 10px;
    border-top: 1px solid black;
}

#print_bottom {
    padding: 10px;
    border-top: 1px solid black;
}
